<div class="container">
  <div class="list-group" *ngFor="let post of posts">
    <div class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><a [routerLink]="['post', post.id]">{{post.title}}</a></h5>
      </div>
      <p class="mb-1">{{post.body}}</p>
      <div *ngFor="let user of users">
        <a routerLink="posts" [queryParams]="{userId: user.id}" *ngIf="post.userId === user.id">{{user.name}}</a>
      </div>
    </div>
  </div>
</div>