<div class="container">
  <app-button-back></app-button-back>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <div *ngFor="let user of users">
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="user.id === post.userId">{{user.username}}</h6>
      </div>
      <p class="card-text">{{post.body}}</p>
    </div>
    <div class="card-footer text-muted">
      <span class="badge badge-secondary">{{comments.length}} comments</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title center">Comments</h5>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item flex-column align-items-start" *ngFor="let comment of comments">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{comment.name}}</h5>
        <small class="text-muted">{{comment.email}}</small>
      </div>
      <p class="mb-1">{{comment.body}}</p>
    </div>
  </div>
</div>