<div class="container">
  <app-button-back></app-button-back>
  <div class="list-group" *ngFor="let post of posts">
    <div class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
      </div>
      <p class="mb-1">{{post.body}}</p>
    </div>
  </div>
</div>